<h3></h3>
<h3><%= JSON.stringify(dataEmployees) %></h3>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <li>Name: không được rỗng</li>
                                <li>Status: chọn một trạng thái</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        
                        <form role="form" action="<%= systemConfig.prefixAdmin %>/employees/edit/<%= dataEmployees.id %>" method="post">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" name="name" value="<%= dataEmployees.name %>">
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                <input class="form-control" type="" name="birthday" value="<%= dataEmployees.birthday %>">
                            </div>
                            <div class="form-group">
                                <label>Born</label>
                                <input class="form-control" type="text" name="born" value="<%= dataEmployees.born %>">
                            </div>
                            <div class="form-group">
                                <label>Sex</label>
                                <input class="form-control" type="text" name="sex" value="<%= dataEmployees.sex %>">
                            </div>
                            <div class="form-group">
                                <label>Nation</label>
                                <input class="form-control" type="text" name="nation" value="<%= dataEmployees.nation %>">
                            </div>
                            <div class="form-group">
                                <label>Numberphone</label>
                                <input class="form-control" type="text" name="numberphone" value="<%= dataEmployees.numberphone %>">
                            </div>
                            <div class="form-group">
                                <label>position</label>
                                <input class="form-control" type="text" name="position" value="<%= dataEmployees.position %>">
                            </div>
                            <div class="form-group">
                                <label>Literacy</label>
                                <input class="form-control" type="text" name="literacy" value="<%= dataEmployees.literacy %>">
                            </div>
                            <div class="form-group">
                                <label>Wage</label>
                                <input class="form-control" type="text" name="wage" value="<%= dataEmployees.wage %>">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="" id="content_ck" cols="30" rows="10"></textarea>
                                <script>
                                    // Replace the <textarea id="editor1"> with a CKEditor
                                    // instance, using default configuration.
                                    CKEDITOR.replace( 'content_ck' );
                                </script>
                            </div>
                            <!-- <div class="form-group">
                                                        <label>Content</label>
                                                        <textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
                                                    </div> -->
                            <input class="form-control" name="id" value="" type="hidden">
                            <button type="submit" class="btn btn-primary">Submit </button>
                            <a type="button" href="<%= systemConfig.prefixAdmin %>/employees" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>